<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.openssh.autossh</string>

  <key>KeepAlive</key>
  <true/>

  <key>UserName</key>
  <string>root</string>

  <key>GroupName</key>
  <string>wheel</string>

  <key>ProgramArguments</key>
  <array>
     <string>/usr/local/bin/autossh</string>
     <string>-M</string>
     <string>50001</string>
     <string>-N</string>
     <string>RESCUE-SERVER.DNS.NAME</string>
   </array>

  <key>StandardErrorPath</key>
  <string>/dev/null</string>

  <key>StandardOutPath</key>
  <string>/dev/null</string>
</dict>
</plist>
